<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="http://www.gravatar.com/avatar/9ab0ef003e641be2dfe11239b0a33059.png">
    <link href="/styles/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <!--
     Hey! If you're reading this, I may be interested in working with/for you. Feel free to send me a mail at chr.montgomery@gmail.com.
     -->
    <%- body %>
    </body>
</html>