<div ng-app="chrismontgomery" class="container">
    <h2>Web developer with a passion for Javascript, Node.js and all things Open Source.</h2>

    <a href="<%= _.findWhere(model.externals, {id: "linkedin"}).href%>" class="me-circle"></a>

    <h1>Chris Montgomery</h1>
    <div>Find me on</div>
    <div class="externals-container">
        <% _.each(model.externals, function (value, index) { %>
            <div class="pull-left external-item-wrap">
                <a href="<%=value.href%>">
                    <div class="external-item <%=value.id%>"></div>
                </a>
            </div>
            <% if (index%2 !== 0) { %>
                <div class="externals-row-split"></div>
            <% } %>
        <% }) %>
    </div>
    <div style="clear: both;"></div>
    <div style="display: none;">
      <img src="/images/twitter-icon-white.png" width="1" height="1" />
      <img src="/images/linkedin-icon-white.png" width="1" height="1" />
      <img src="/images/so-icon-white.png" width="1" height="1" />
    </div>
</div>