@body-bg: #151515;

body {
  background-color: @body-bg;
  color: #fff;
  font-family: 'Lato', sans-serif;
}

.container {
  text-align: center
}

.me-circle{
  margin: 0 auto;
  width: 300px;
  height: 300px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-family: helvetica, arial;
  background: #151515 url(http://www.gravatar.com/avatar/9ab0ef003e641be2dfe11239b0a33059.png?s=300) no-repeat center center;
  display: block;
  outline: none;
  -moz-box-shadow: 0 0 8px #fff;
  -webkit-box-shadow: 0 0 8px #fff;
  box-shadow: 0px 0px 8px #fff;
  transition: all 0.5s ease;
}

.me-circle:hover{
  -moz-box-shadow: 0 0 20px #fff;
  -webkit-box-shadow: 0 0 20px #fff;
  box-shadow: 0px 0px 20px #fff;
}

.externals-container {
  margin: 15px auto 0 auto;
  display: block;
  width: 330px;
  padding-left: 25px;
}

.external-item-wrap {
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}

.external-item {
  background-color: @body-bg;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

.twitter {
  background-size: 71px 58px;
  width: 71px;
  height: 58px;
  background-image: url('/images/twitter-icon-color.png');
  &:hover {
    background-image: url('/images/twitter-icon-white.png');
  }
}

.linkedin {
  background-size: 71px 60px;
  width: 71px;
  height: 60px;
  background-image: url('/images/linkedin-icon-color.png');
  &:hover {
    background-image: url('/images/linkedin-icon-white.png');
  }
}

.github {
  background-image: url('/images/github-icon-white.png');
}

.so {
  background-image: url('/images/so-icon-color.png');
  &:hover {
    background-image: url('/images/so-icon-white.png');
  }
}

.pull-left {
  float: left;
}

@media (max-width: 350px) {
  .externals-container {
    width: 172px;
  }
  .externals-row-split {
    clear: both;
    margin-bottom: 15px;
  }
}