@import "variables";
@import "../linker/bower_components/bootstrap/less/mixins";
@import "../linker/bower_components/bootstrap/less/scaffolding";
@import "../linker/bower_components/bootstrap/less/utilities";


.externals-list {
  margin: 20px auto 0 auto;
  .external-item {
    margin: 0 15px 0 15px;
  }
}

.external-name {
  font-size: @font-size-h2;
}

.container {
  text-align: center
}